.buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;

  .small-button {
    border-radius: 1rem;
    font-size: 12px;
  }
}

.right-buttons {
  display: flex;
  justify-content: space-between;

}

.dropdown-menu {
  font-size: 14px;
  font-weight: 600;
  em {
    font-size: 14px;
  }
}

.main-item {
  span {
    font-size: 10px;
    font-weight: 600;
  }

  p {
    font-weight: 600;
    font-size: 25px;
  }
  em {
    margin-left: 0.5rem;
    font-size: 20px;
    cursor: pointer;

  }
}

.item-info {
  display: flex;
  justify-content: space-around;

  p {
    font-weight: 600;
    font-size: 12px;
  }
}

.item-info-expanded {
  position: relative;

  p {
    font-size: 12px;
    color: gray; margin-right: 0.2rem
  }
}

.row-item {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  height: 80px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.first-row {
@extend .row-item;
}

.second-row {
@extend .row-item;
}
